<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!--    <style>-->
<!--        .table_findById {-->
<!--            width: 100%;-->
<!--        }-->
<!--        .table_findById > thead > tr {-->
<!--            border-top: 1px solid #ccc;-->
<!--            border-bottom: 2px solid #333;-->
<!--        }-->
<!--        .table_findById > thead > tr, .table_findById > tbody > tr {-->
<!--            height: 40px;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<h2>findById.html</h2>
<input type="button" onclick="location.href='/board'" value="전체목록">
<!-- 수정 기능 제작(POST 방식, 폼에서 바로 요청하는) -->
<!-- (PUT방식, ajax를 이용하여 요청하는) 2가지 해보기 -->
<!-- 수정화면 update.html에서 비밀번호를 입력받고 일치하면 수정처리, 일치하지 않으면 수정처리 X --->

<table class="table_findById">
    <thead>
        <tr>
            <th>번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성일시</th>
            <th>수정일시</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${boardDetailDTO.boardId}"></td>
            <td th:text="${boardDetailDTO.boardWriter}"></td>
            <td th:text="${boardDetailDTO.boardTitle}"></td>
            <td th:text="${boardDetailDTO.boardContents}"></td>
            <td th:text="${boardDetailDTO.createTime}"></td>
            <td th:text="${boardDetailDTO.updateTime}"></td>
            <td><a th:href="@{|/board/update/${boardDetailDTO.boardId}|}">수정페이지</a></td>
            <td>삭제버튼만들기</td>
        </tr>
    </tbody>
</table>

<div id="comment-write">
    <input type="text" id="commentWriter" placeholder="작성자" />
    <input type="text" id="commentContents" placeholder="내용" />
    <input type="button" id="comment-write-btn" value="댓글등록" />
</div>

<div id="comment-area">
    <table>
        <thead>
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    $("#comment-write-btn").click(function (){
       console.log('댓글등록 버튼 클릭');
       const commentWriter = $("#commentWriter").val();
       const commentContents = $("#commentContents").val();
       const boardId = '[[${boardDetailDTO.boardId}]]';
       $.ajax({
           type: 'post',
           url: '/comment/save',
           data: {
               'commentWriter': commentWriter,
               'commentContents': commentContents,
               'boardId': boardId
           },
           dataType: 'json',
           success: function (result) {
               console.log(result);
           },
           error: function () {
               alert('ajax 실패');
           }
       });
    });
</script>
</html>